@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #001e4d;
}

#app {
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 100px auto 0;
  padding: 30px;
}

#app h1 {
  font-size: 25px;
  font-weight: 600;
  color: #001e4d;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 500;
}

.btn{
    width: 100%;
    color: #222;
    background-color: #ffffff;
    border: 1px solid #222;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #222;
    color: #ffffff;
}


#next{
    width: 150px;
    background-color: #001e4d;
    color:#ffffff;
    border: 0;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto 0;
    display:none;
}